{% extends 'plantilla.html' %}
{% load static %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{% static 'css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'css/clauses/clauses_list.css' %}">
<link rel="stylesheet" href="{% static 'css/clauses/clause_create.css' %}">
<script src="{% static 'js/alertSwitch.js' %}"></script>
<script src="{% static 'js/clauses/clauses_list.js' %}"></script>


<div class="clauses-container">
    <div class="clauses-header">
        <h2>Lista de Cláusulas</h2>
        <button type="button" id="createClauseBtn" class="add-clause-btn" data-bs-toggle="modal"
            data-bs-target="#createClauseModal" data-url="{% url 'create_clause' %}">
            <i class="fas fa-plus-circle"></i> Agregar Cláusula
        </button>
    </div>

    <div class="clauses-table-container">
        <table class="clauses-table" id="clauses_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Oganización</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for clause in clauses %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ clause.title }}
                    </td>
                    <td>
                        {{ clause.description }}
                    </td>
                    <td>
                        <span class="org-tag" style="background: #8bb8ff">
                            {{ clause.organization.name }}
                        </span>
                    </td>
                    <td>
                        {{ clause.created_at }}
                    </td>
                    <td>
                        <div class="clause-actions">
                            <a href="#" class="edit-clause-btn" data-id="{{clause.id}}" data-title="{{clause.title}}"
                                data-description="{{clause.description}}" data-organization="{{clause.organization_id}}"
                                data-url="{% url 'update_clause' clause.id %}" title="Editar">
                                <i class="fa fa-edit"></i>
                            </a>

                            <button type="button" class="delete-clause-btn"
                                data-url="{% url 'delete_clause' clause.id %}" title="Eliminar">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="createClauseModal" tabindex="-1" aria-labelledby="createClauseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createClauseModalLabel">Crear Cláusula</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="createClauseForm" class="create-clause-form"
                    data-url="{% url 'create_clause' %}">
                    {% csrf_token %}

                    <div class="form-group span-2">
                        <label><i class="fas fa-building"></i> Organización</label>
                        <div class="field-content">
                            <select name="organization_id" id="organization" class="form-input form-select" required>
                                <option value="">Seleccione una opción</option>
                                {% for org in organizations %}
                                    <option value="{{ org.id }}" {% if org.id == extended_user.organization_id %}selected{% endif %}>
                                        {{ org.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="disabled-info ">
                                <i class="fas fa-lock"></i>
                                <span>Este campo no puede modificarse</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name"><i class="fas fa-id-card"></i> Nombre de la cláusula</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="description"><i class="fas fa-align-left"></i> Descripción</label>
                        <textarea id="description" name="description" rows="4" required></textarea>
                    </div>

                    <div class="form-actions">
                        <button type="submit" id="submitClauseForm" class="submit-btn">Guardar Cláusula</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
{% endblock %}