{% extends 'plantilla.html' %}
{% load static %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{% static 'css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'css/contracts/contracts_list.css' %}">
<script src="{% static 'js/alertSwitch.js' %}"></script>
<script src="{% static 'js/contracts/contracts_list.js' %}"></script>

<div class="contracts-container">
    <div class="contracts-header">
        <h2>Lista de Contratos</h2>
        <a href="{% url 'contracts_create' %}" id="createContractBtn" class="add-contract-btn">
            <i class="fas fa-plus-circle"></i> Agregar Contrato
        </a>
    </div>

    <div class="contracts-table-container">
        <table class="contracts-table" id="contracts_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in contracts %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ contract.name_contract }}
                    </td>
                    <td>
                        {{ contract.created_at }}
                    </td>
                    <td>
                        <div class="contract-actions">
                            <a href="#" class="edit-contract-btn" data-id="{{contract.id}}" data-name="{{contract.name_contract}}"
                                 title="Editar">
                                <i class="fa fa-edit"></i>
                            </a>

                            <button type="button" class="delete-contract-btn"
                                 title="Eliminar">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
{% endblock %}